include README.md
include LICENSE.txt
include dependencies/requirements.txt
include dependencies/*.whl
include dependencies/*.tar.gz
recursive-include jtable/resources *
recursive-include jtable *.py
include jtable/logger.py
